[Unit]
Description=Dolittle Edge Agent
After=network.target
 
[Service]
Type=simple
User=dolittle
Group=dolittle
Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/usr/bin/dolittle.edge
ExecStart=/usr/bin/dolittle.edge/DolittleEdgeAgent

[Install]
WantedBy=multi-user.target