[Unit]
Description=Dolittle Edge Agent
Documentation=https://github.com/dolittle-edge/Agent

After=network.target
StartLimitIntervalSec=0
 
[Service]
Type=exec

Restart=on-failure
RestartSec=10

ConfigurationDirectory=dolittle-edge/agent
WorkingDirectory=/etc/dolittle-edge/agent
ExecStart=/usr/bin/dolittle-edge-agent

[Install]
WantedBy=multi-user.target